.ca-members {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4rem;
}

@media (max-width: 1024px) {
  .ca-members {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media (max-width: 853px) {
  .ca-members {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .ca-members {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.sm\:hidden {
  display: none;
}

/* 
sm: "640px",
      md: "853px",
      lg: "1024px",
      xl: "1280px",
      "2xl": "1536px",
*/
